#ptt-chat-window {
    height: 80%;
    width: 300px;
    position: fixed;
    top: 10%;
    right: 4px;
    bottom: 10%;
    z-index: 2147483647;
    background-color: #18181b;
    /*background-color: white;*/
    border-radius: 16px;
    padding: 4px 4px 12px;
    display: flex;
    flex-direction: column;
}

#ptt-chat-window.transparent {
    background-color: rgba(0, 0, 0, 0);
}

#ptt-chat-header {
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

#ptt-chat-header button {
    background-color: white;
    color: #333;
    height: 16px;
    font-size: 12px;
}

#ptt-chat-footer {
    height: 36px;
    padding-left: 4px;
    padding-right: 4px;
}

#ptt-chat-container {
    flex: 1;
    padding: 12px 0 12px 12px;
    overflow-y: scroll;
}

#ptt-chat {
    margin-right: 24px;
    height: 100%;
    color: white;
    font-size: 14px;
}

#ptt-chat .row {
    display: flex;
}

#ptt-chat .account {
    color: #2ba640;
}

#ptt-chat .message {
    color: #dedee3;
    /*color: #010110;*/
    /*color: #1f1f23;*/
}
